.promo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  margin-top: 226px;
  padding: 20px;
}

.promo {
  max-width: 586px;
  display: flex;
  background-color: #FBFBFB;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: row;
}

.promo img {
  width: 50%;
  object-fit: cover;
}

.promo-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-content h3 {
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-align: right;
  color: #3D3D3D;
  margin-bottom: 0px;
}

.promo-content p {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #727272;
}

.explore-more {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #46a358;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explore-more:hover {
  background-color: #3d8b50;
}

@media (max-width: 768px) {
  .promo {
      flex-direction: column;
      max-width: 100%;
  }
  
  .promo img {
      width: 100%;
      height: auto;
  }
  
  .promo-content {
      padding: 20px;
  }
}

@media (max-width: 480px) {
  .promo-section {
      margin-top: 100px;
      gap: 15px;
  }
  
  .promo-content h3 {
      font-size: 16px;
  }
  
  .promo-content p {
      font-size: 12px;
  }
  
  .explore-more {
      font-size: 12px;
      padding: 8px 16px;
  }
}
